flask==2.3.3
werkzeug==2.3.7
python-dotenv==1.0.0
Pillow==11.2.1
numpy==1.23.5
opencv-python==4.7.0.72
tensorflow==2.9.1
keras==2.9.0
h5py==3.1.0
flask-sqlalchemy==3.0.5
flask-login==0.6.2
email-validator==2.0.0
scikit-learn==1.2.2
matplotlib==3.7.1
pandas==1.5.3
protobuf==3.19.6
flatbuffers==1.12
tensorboard==2.9.0
tensorflow-estimator==2.9.0
seaborn>=0.11.2
reportlab==4.4.1 